.button {
        	-fx-font-size: 13.0px;
        	-fx-base: #00a7d4;
        	-fx-background: #e5f3f6;
        	-fx-focus-color: #0093FF;
        	-fx-control-inner-background: #FFFFFF;
        	-fx-text-base-color: #FFFFFF;
        	-fx-background-color:#00a7d4;
        	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
        	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
        	-fx-background-insets: 0px;
        	-fx-background-radius: 0px;
        	-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
        	-fx-text-fill: -fx-text-base-color;
        	-fx-alignment: CENTER;
        	-fx-content-display: LEFT;
        	}